<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <!-- Your custom styles -->
    <style>
      html,
      body {
        height: 100%;
      }

      .blue-square-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .blue-square {
        background-color: #B10DC9;
        padding: 2em;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Your content here -->
      {{{body}}}
    </main>
  </body>
</html>
